[submodule "medium-schmitt-trigger"]
	path = medium-schmitt-trigger
	url = https://github.com/fhormot/xschem-ihp130-schmitt-trigger/tree/320bafe7c0e8560d699e74c168c477aea3e1a906
[submodule "xschem-ihp130-schmitt-trigger"]
	path = xschem-ihp130-schmitt-trigger
	url = https://github.com/fhormot/xschem-ihp130-schmitt-trigger.git
